.App {
  text-align: center;
}

.streamersCard{
  text-align: center;
  padding: 4px 16px 20px 16px;
  border-radius: 8px;
  box-shadow: 0 6px 19px 1px #bdbdbd;
  margin:12px 0;
  background-color: #eddff7;
  overflow: hidden;
  height:150px;
  width:500px;
}
h1{
  display: inline-block;
  color: #9146FF;
  position:relative;
  font-size: 40px;
  margin: 0;
}
p{
  color: #7f7786;
  font-size: 18Px;
  margin: 0;
  font-weight: bold;
}

.App-header {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
